/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field_with_errors input {
  background-color: red;
}

#review {
  border: solid 1px;
  border-color: red;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #f42020;
  font-size: 400%;
}

body {
  font-family: 'Share', cursive;
  padding: 30px;
  border: 30px solid transparent;
  -moz-border-image: url("http://www.clipartkid.com/images/432/chicken-border-printable-chicken-border-MnPdwT-clipart.jpg") 40 repeat;
  -webkit-border-image: url("http://www.clipartkid.com/images/432/chicken-border-printable-chicken-border-MnPdwT-clipart.jpg") 40 repeat;
  -o-border-image: url("http://www.clipartkid.com/images/432/chicken-border-printable-chicken-border-MnPdwT-clipart.jpg") 40 repeat;
  border-image: url("http://www.clipartkid.com/images/432/chicken-border-printable-chicken-border-MnPdwT-clipart.jpg") 40 repeat;
}

.single-restaurant {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
}

.session-btns {
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: rgba(151, 141, 141, 0.22);
  padding: 10px;
  border-radius: 10px;
}

img#logo {
  max-height: 100px;
  display: inline;
}

.restaurant-info {
  margin: auto;
  width: 50%;
}

.restaurant-feed {
  margin: auto;
  width: 50%;
}
